@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 96px; /* Замените на фактическую высоту вашего Header'а */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#main-content {
  width: 100%;
  flex: 1;
  padding-top: var(--header-height);
  overflow-y: auto;
  height: calc(100vh - var(--header-height));
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#main-content::-webkit-scrollbar {
  display: none;
}